<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    color: #68537f;
    background-color: #fff;
    border-radius: 22px;
    padding: 1rem;

}
.fa-lg {
    font-size: 3.333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.socialbtns .fa:hover {
    color: #ffffff;
    background-color: #bf95e1;
    border: 1px solid #fff;
}
  </style>
  <link rel="stylesheet" href="/bookstore.css">
  <style>
#introbox{
    background-color: #ffffff;
    font-size: 2rem;
    margin: 2rem auto;
    padding: 4rem 5rem;
    font-family: sans-serif;
    color: #291010;
}
  </style>
</head>
<body>
  <nav id="navbar">
    <a href="/"><img src="/images/logo.png" alt="Not found image"></a>
   <ul>      
       <li class="navitem"><a href="/">Home</a></li>
       <li class="navitem"><a href="/cart">Your Cart</a></li>
       <li class="navitem"><a href="/login">{{username}}</a></li> 
       <!-- change it to accout after login -->
       <li class="navitem"><a href="/about">About Us</a></li>
   </ul>
</nav>
<img src="/images/pf.png" alt="profile photo not found" style="height: 17rem;display: block;margin: 1.2rem auto;">


<h1 style="font-size: 3.5rem;color:aliceblue;font-family: sans-serif;display:block;text-align: center;" >Hey! I am Debdeep</h1>

<div id="introbox">
<p>Hey, I am Debdep Ghosal. Currently, I am an undergraduate at Heritage Institute of Technology, Kolkata. Hope you liked my project.</p>
</div>
 <h2 style="
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color: #552d73;
    text-decoration: underline;
    margin-bottom: 2rem;
" >My Socials</h2>
<div align="center" class="socialbtns">
<ul>
<li><a href="https://github.com/Debdeepghosal" class="fa fa-lg fa-github"></a></li>
<li><a href="https://www.linkedin.com/in/debdeep-ghosal-064589225/" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="https://www.instagram.com/debdeepghosal/" class="fa fa-lg fa-instagram"></a></li>
</ul>
</div>


</body>
</html>